<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Filip Jakab, Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "KeenAuthDemo", suffix: " · Phoenix Framework" %>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/starter-template/">

    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "KeenAuthDemo", suffix: " · Phoenix Framework" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%# <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/> %>
    <%# <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/custom.css")}/> %>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <meta name="theme-color" content="#712cf9">

  </head>
  <body>
    
<div class="col-lg-8 mx-auto p-3 py-md-5">
  <%= render "_navigation.html", assigns %>

  <%= @inner_content %>

  <footer class="pt-5 my-5 text-muted border-top">
    Created by the Bootstrap team · © 2022
  </footer>
</div>
      
  

</body></html>