<section>
	<h4 class="text-center">Choose application</h4>

	<div class="d-flex justify-content-evenly">
		<a href={Routes.page_path(@conn, :index, "app1")} class="btn btn-lg btn-secondary">App1</a>
		<a href={Routes.page_path(@conn, :index, "app2")} class="btn btn-lg btn-secondary">App2</a>
	</div>
</section>

