/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

config/.local.exs
.idea/
priv/cert

# admin build files
lib/keen_auth_demo_web/priv/static/admin/
lib/keen_auth_demo_web/priv/static/css/
lib/keen_auth_demo_web/priv/static/js/
lib/keen_auth_demo_web/priv/static/webfonts/
lib/keen_auth_demo_web/priv/static/img/flags
