form {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* overflow: auto; */
}

body > main.container {
  flex: 1
}

@media (min-width: 768px) {
  .container--mini {
    max-width: 380px;
  }
}

.error-template {
  text-align: center;
}
